In [4]:
import pandas as pd
df = pd.read_csv('/Users/vishnu/Desktop/Personal/Books/technical/python/Exercise/DWBI/sales_orders_fresh_generated.csv')

In [3]:
df.head() #gives top5 rows

,Hub ID,Order ID,Customer ID,Picker ID,Rider ID,Order Date,Order Quantity,Order Amount,Order Placed TS,Order Assigned TS,...,Expedited Delivery TS,Rider Pickup TS,Rider Drop TS,Distance KM,Issue Flag,City,Hub Name,Monthly Operating Cost,Picker Name,Rider Name
0,7,1,134,12,30,06-01-2025,7,155,06-01-2025 19:42,06-01-2025 19:43,...,06-01-2025 20:42,06-01-2025 20:04,06-01-2025 20:50,2.40,N,Colinburgh,Hub_7,42748,Alicia Allen,Jason Johnson
1,6,2,260,38,47,12-05-2025,50,172,12-05-2025 15:28,12-05-2025 15:29,...,12-05-2025 16:28,12-05-2025 16:04,12-05-2025 16:31,10.43,N,East Jaime,Hub_6,28103,Robert Vargas,Eric Herring
2,4,3,602,36,44,19-02-2025,36,109,19-02-2025 20:11,19-02-2025 20:14,...,19-02-2025 21:11,19-02-2025 20:53,19-02-2025 21:14,3.62,N,New Laurenchester,Hub_4,15666,Sherry Yang,Diane Elliott
3,1,4,345,40,38,17-04-2025,48,112,17-04-2025 20:32,17-04-2025 20:36,...,17-04-2025 21:32,17-04-2025 21:03,17-04-2025 21:25,6.11,N,West William,Hub_1,25989,Albert Hawkins,Linda Brown
4,2,5,453,4,35,18-04-2025,19,74,18-04-2025 07:07,18-04-2025 07:12,...,18-04-2025 08:07,18-04-2025 07:43,18-04-2025 08:36,9.53,N,Solomonland,Hub_2,10393,Michael Pugh,Clifford Maxwell

In [1]:
df.info()

NameError: name 'df' is not defined

In [4]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [5]:
df.columns

Index(['hub_id', 'order_id', 'customer_id', 'picker_id', 'rider_id',
       'order_date', 'order_quantity', 'order_amount', 'order_placed_ts',
       'order_assigned_ts', 'picker_start_ts', 'picker_end_ts',
       'expedited_delivery_ts', 'rider_pickup_ts', 'rider_drop_ts',
       'distance_km', 'issue_flag', 'city', 'hub_name',
       'monthly_operating_cost', 'picker_name', 'rider_name'],
      dtype='object')

In [6]:
#df = df.drop(['hub_name', 'monthly_operating_cost'], axis=1) # Drop unwanted columns


df = df.rename(columns={
    'city': 'hub_name',
    'expedited_delivery_ts': 'expected_delivery_ts',
    'order_amount': 'order_value'
}) # Rename columns

In [7]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [8]:
df.columns

Index(['hub_id', 'order_id', 'customer_id', 'picker_id', 'rider_id',
       'order_date', 'order_quantity', 'order_value', 'order_placed_ts',
       'order_assigned_ts', 'picker_start_ts', 'picker_end_ts',
       'expected_delivery_ts', 'rider_pickup_ts', 'rider_drop_ts',
       'distance_km', 'issue_flag', 'hub_name', 'hub_name',
       'monthly_operating_cost', 'picker_name', 'rider_name'],
      dtype='object')

In [9]:
df.isnull().sum()

hub_id                    0
order_id                  0
customer_id               0
picker_id                 0
rider_id                  0
order_date                0
order_quantity            0
order_value               0
order_placed_ts           0
order_assigned_ts         0
picker_start_ts           0
picker_end_ts             0
expected_delivery_ts      0
rider_pickup_ts           0
rider_drop_ts             0
distance_km               0
issue_flag                0
hub_name                  0
hub_name                  0
monthly_operating_cost    0
picker_name               0
rider_name                0
dtype: int64

DIMENSION TABLE

In [10]:
dim_hub = df[['hub_id', 'hub_name']].drop_duplicates().reset_index(drop=True) #dimension  HUB
dim_warehouse_associate = df[['hub_id', 'picker_id', 'picker_name']].drop_duplicates().reset_index(drop=True) #dimension Warehouse
dim_delivery_associate = df[['hub_id', 'rider_id', 'rider_name']].drop_duplicates().reset_index(drop=True) #dimension Delivery agent

FACT TABLE

In [11]:
fact_sales_order = df[[
    'hub_id',
    'order_id',
    'customer_id',
    'picker_id',
    'rider_id',
    'order_date',
    'order_quantity',
    'order_value',
    'order_placed_ts',
    'order_assigned_ts',
    'picker_start_ts',
    'picker_end_ts',
    'expected_delivery_ts',
    'rider_pickup_ts',
    'rider_drop_ts',
    'distance_km',
    'issue_flag'
]]

In [12]:
!pip3 install pymysql sqlalchemy

Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.0.44)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip

In [47]:
from sqlalchemy import create_engine
import pandas as pd

username = "root"
password = "Sql@2025#"
host = "localhost"  # or "localhost", nothing else
port = "3306"
database = "DWBI"

engine = create_engine(f"mysql+pymysql://{username}:{password}@localhost/{database}?unix_socket=/tmp/mysql.sock")

# Test connection
try:
    with engine.connect() as conn:
        result = conn.execute("SELECT 1;")
        print("Connection successful!", result.fetchone())
except Exception as e:
    print("Connection failed:", e)

Connection failed: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [13]:
!pip3 install cryptography

Requirement already satisfied: cryptography in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (46.0.3)
Requirement already satisfied: cffi>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from cryptography) (2.0.0)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from cffi>=2.0.0->cryptography) (2.23)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip

In [14]:
import cryptography
print(cryptography.__version__)

46.0.3

In [15]:
!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (9.5.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip

In [16]:
import sys
print(sys.executable)

/usr/local/bin/python3

In [17]:
!pip3 install pymysql cryptography sqlalchemy pandas

Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (1.1.2)
Requirement already satisfied: cryptography in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (46.0.3)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.0.44)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: cffi>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from cryptography) (2.0.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/vishnu/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from cffi>=2.0.0->cryptography) (2.23)
Requirement already satisfied: six>=1.5 in /Users/vishnu/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip

In [20]:
print(dim_hub.columns)
dim_hub = dim_hub.loc[:, ~dim_hub.columns.duplicated()]

Index(['hub_id', 'hub_name', 'hub_name'], dtype='object')

In [21]:
import pandas as pd
from sqlalchemy import create_engine

# ------------------------------
# MySQL Connection Configuration
# ------------------------------
username = "python_user"           # Your dedicated MySQL user
password = "StrongPassword123"     # Password for this user
host = "127.0.0.1"                 # Localhost
port = "3306"                       # Default MySQL port
database = "DWBI"

# Make sure cryptography package is installed: pip install cryptography
# Use PyMySQL as driver
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# ------------------------------
# Load DataFrames into MySQL
# ------------------------------
try:
    dim_hub.to_sql('dim_hub', engine, if_exists='replace', index=False)
    dim_warehouse_associate.to_sql('dim_warehouse_associate', engine, if_exists='replace', index=False)
    dim_delivery_associate.to_sql('dim_delivery_associate', engine, if_exists='replace', index=False)
    fact_sales_order.to_sql('fact_sales_order', engine, if_exists='replace', index=False)
    
    print(" All tables successfully loaded into MySQL!")

except Exception as e:
    print("Error loading tables into MySQL:", e)

# ------------------------------
# Verify Data in MySQL (Sample Query)
# ------------------------------
try:
    sample = pd.read_sql("SELECT * FROM fact_sales_order LIMIT 5;", engine)
    display(sample)
except Exception as e:
    print("Error querying MySQL:", e)

 All tables successfully loaded into MySQL!

,hub_id,order_id,customer_id,picker_id,rider_id,order_date,order_quantity,order_value,order_placed_ts,order_assigned_ts,picker_start_ts,picker_end_ts,expected_delivery_ts,rider_pickup_ts,rider_drop_ts,distance_km,issue_flag
0,7,1,134,12,30,06-01-2025,7,155,06-01-2025 19:42,06-01-2025 19:43,06-01-2025 19:52,06-01-2025 20:02,06-01-2025 20:42,06-01-2025 20:04,06-01-2025 20:50,2.40,N
1,6,2,260,38,47,12-05-2025,50,172,12-05-2025 15:28,12-05-2025 15:29,12-05-2025 15:35,12-05-2025 15:58,12-05-2025 16:28,12-05-2025 16:04,12-05-2025 16:31,10.43,N
2,4,3,602,36,44,19-02-2025,36,109,19-02-2025 20:11,19-02-2025 20:14,19-02-2025 20:23,19-02-2025 20:44,19-02-2025 21:11,19-02-2025 20:53,19-02-2025 21:14,3.62,N
3,1,4,345,40,38,17-04-2025,48,112,17-04-2025 20:32,17-04-2025 20:36,17-04-2025 20:41,17-04-2025 21:00,17-04-2025 21:32,17-04-2025 21:03,17-04-2025 21:25,6.11,N
4,2,5,453,4,35,18-04-2025,19,74,18-04-2025 07:07,18-04-2025 07:12,18-04-2025 07:16,18-04-2025 07:28,18-04-2025 08:07,18-04-2025 07:43,18-04-2025 08:36,9.53,N

In [34]:

from sqlalchemy import create_engine
import pandas as pd

# MySQL connection
username = "root"
password = "Tharani1901$"
host = "10.136.1.5"
port = "3306"
database = "sales_order"

# Correct connection string
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write DataFrame to MySQL
table_name = "sales_transaction_data"
df.to_sql(table_name, engine, if_exists="replace", index=False)

# Read back a few rows
pd.read_sql("SELECT * FROM sales_transaction_data LIMIT 5;", engine)

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '10.136.1.5' ([Errno 61] Connection refused)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)